{% extends 'base.html' %}

{% block titulo %}Dashboard de {{user}} | {%endblock%}Agenda<

{% block conteudo %}
    <h1 class="mt-3 mb-3">Ola {{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Cadastre novos contatos</h3>
    {% include 'arq_parciais/mensagens.html' %}
    <div class="container">
        <form method="POST" action="{% url 'dashboard' %}" enctype="multipart/form-data">
            <table class="table">
                {{ form }}
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </table>
        </form>
    </div>


     <form method="POST" action="{% url 'logout' %}">
         {% csrf_token %}
     <button type="submit" class="btn btn-primary">Sair</button>

{% endblock %}